*{
    margin: 0;
}

nav{
    height: 90px;
    width: 85%;
    position: fixed;
    top: 0;
    left: 90px;
    background-color: salmon;
    color: darkgreen;
    box-sizing: border-box;
    padding: 20px 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.BeanLogo{
    height: 90px;
    width: 90px;
    background-image: url("Logo.jpg");
    position: fixed;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

a{
    color: yellow;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 15px;
}

.buffer{
    height: 90px;
}

.splash{

    height: 700px;
    width: 100%;
    background-image: url("CoffeeBeanBacksplash.jpg");
    background-size: 100% 100%;
}

.textContainer{
    width: 100%;
    background-color: royalblue;
    color: white;
    min-height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about1{
    min-height: 120px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: royalblue;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about2{
    min-height: 120px;
    width: 100%;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
    background-color: royalblue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buffer2{
    height: 60px;
    background-color: royalblue;
}


footer {
    position: fixed;
    background-color: rebeccapurple;
    color: white;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
